[Unit]
Description="Backup the personal files, using Borg Backup"
Requires=exthdd.automount

[Service]
EnvironmentFile=/usr/local/share/system_scripts/sysbackup/backup_env
StandardOutput=journal
StandardError=inherit
Type=oneshot
ExecStart=/usr/local/share/system_scripts/sysbackup/borg_backup.sh